<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>Awards</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Young Engineers 2008</h3>
                            <div class="time">2008</div>
                        </div><!--//upper-row-->
                        <div class="company">National University of Colombia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>2008 award winner for the program "Young Engineers" for achieving good grades</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MSc automatic admittance</h3>
                            <div class="time">2010</div>
                        </div><!--//upper-row-->
                        <div class="company">National University of Colombia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Automatic admittance to a MSc programm for achieving the best GPA in the Systems Engineering programm in 2009</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
