<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Software engineer, MSc in computer science from Universidad Nacional de Colombia.
      9 years of experience in web and mobile development in colombian companies and abroad.
      Currently the CTO of BeepQuest.</p>
    <p>I encourage myself and my team to write clean, clear, efficient, well-tested, and maintainable code</p>
    <blockquote><p>Done is better than perfect</p></blockquote>
</div><!--//summary-->
</section><!--//section-->
