 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h5 class="meta">National University of Colombia</h5>
    <div class="time">2011 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Exchange Student</h4>
    <h5 class="meta">Technical University of Munich</h5>
    <div class="time">2008 - 2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Informatics and Computer Science</h4>
    <h5 class="meta">National University of Colombia</h5>
    <div class="time">2003 - 2009</div>
</div><!--//item-->
</div><!--//education-container-->
