<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">CTO and Co-founder</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">BeepQuest, Bogotá and Ciudad de México</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Development using technologies like Elixir, Node.js, Java, Angular, React, React Native and Swift</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Skaphe Tecnología SAS, Bogotá</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Technical leader in projects for customers like Gas Natural Fenosa, Dirección General Marítima,
                          IDEAM and Secretaría Distrital de Integración Social using technologies like JEE and Node.js</p>
                        <p>Development of model based software factories to automate projects developed in the company</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">(Freelance) Magento developer</h3>
                            <div class="time">2012 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Hipertexto, Bogotá</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Migration of the website from osCommerce to Magento</p>
                        <p>Development of custom components for Magento</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2011 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Seven4n, Bogotá</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Development of model-driven software factories for customers like Suramericana and Cámara de Comercio de Bogotá</p>
                        <p>Took part in the software architecture creation process for Cámara de Comercio de Bogotá</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead developer</h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Hipertexto, Bogotá</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Development of e-commerce sites using PHP</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">(Internship) Frontend developer</h3>
                            <div class="time">2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Stylight GmbH, Munich</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Frontend development with Struts and PrototypeJS for stylight.de</p>
                        <p>Backend development with Java and PHP</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">(Internship) Tester</h3>
                            <div class="time">2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Liminal, Bogotá</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Testing and QA support</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
